<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Movie Guru HAL</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/round-about.css" rel="stylesheet" type="text/css">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Movie Guru</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <!-- Introduction Row -->
      <h1 class="my-4">What are We Watching Tonight</h1>
      <p>Click on the genre below to get recommendations for the best movies.</p>

	<div class="row" id="displayed-movies">
	</div>

	  
      <!-- Team Members Row -->
      <div class="row">
        <div class="col-lg-12">
          <h2 class="my-4">Get Started Below</h2>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto genre-family" src="/images/family.jpg" alt="">
          <h3>Family</h3>
          <p>Movies everyone can enjoy.</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto genre-horror" src="/images/horror.jpg" alt="">
          <h3>Horror</h3>
          <p>Movies that go bump in the night.</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto genre-romance" src="/images/romance.jpg" alt="">
          <h3>Romance</h3>
          <p>Movies for that special night.</p>
        </div>
		<div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto genre-documentary" src="/images/documentary.jpg" alt="">
          <h3>Documentary</h3>
          <p>Prepare to discover a topic unknown.</p>
        </div>
		<div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto genre-comedy" src="/images/comedy.jpg" alt="">
          <h3>Comedy</h3>
          <p>Tickle your funny bone.</p>
        </div>
		<div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto genre-animation" src="/images/animation.jpg" alt="">
          <h3>Animation</h3>
          <p>Imagination come to life.</p>
        </div>
      </div>

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; SalSal 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/stylesheets/vendor/jquery/jquery.min.js"></script>
    <script src="/stylesheets/vendor/popper/popper.min.js"></script>
    <script src="/stylesheets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/script/script.js"></script>

	<!-- TODO continue here -->
	<!-- <link href="/stylesheets/round-about.css" rel="stylesheet" type="text/css"> -->

	
  </body>

</html>